@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/*
Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --border-violet: hsl(264, 82%, 70%);
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --semi-opaque-blue: hsla(217, 19%, 35%, 50%);
  --70pc-blue: hsla(217, 19%, 35%, 70%);
  --dark-blackish-blue: hsl(217, 30%, 14%);
  --white: hsl(0, 0%, 100%);
  --semi-opaque-white: hsla(0, 0%, 100%, 50%);
  --70pc-white: hsla(0, 0%, 100%, 70%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --font-size-normal: 1.3rem;
  --font-lighter: 500;
  --font-bolder: 600;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.2rem 2.4rem;
  position: relative;
}

main {
  max-width: 120rem;
}

.testimonials {
  display: grid;
  gap: 2.4rem;
  grid-template-areas:
    "violet"
    "grayish"
    "whiteone"
    "blackish"
    "whitetwo";
}

.card {
  border-radius: 8px;
  padding: 2.6rem 3.2rem 3.2rem 3.2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card .verified {
  font-size: 1.1rem;
}

.card--dark {
  color: var(--70pc-white);
}

.card--dark .verified {
  color: var(--semi-opaque-white);
}

.card--dark .author__name,
.card--dark .testimonial-short {
  color: var(--white);
}

.card--violet {
  background-color: var(--moderate-violet);
  position: relative;
  grid-area: violet;

  .author-avatar {
    outline: 2px solid var(--border-violet);
  }
}

.card--white {
  background-color: var(--white);
  color: var(--70pc-blue);
}

.card--white-1 {
  grid-area: whiteone;
}

.card--white-2 {
  grid-area: whitetwo;
}

.card--grayish-blue {
  background-color: var(--dark-grayish-blue);
  grid-area: grayish;
}

.card--blackish-blue {
  background-color: var(--dark-blackish-blue);
  grid-area: blackish;

  .author-avatar {
    outline: 2px solid var(--moderate-violet);
  }
}

.card--white .author__name,
.card--white .testimonial-short {
  color: var(--dark-grayish-blue);
}

.card--white .verified {
  color: var(--semi-opaque-blue);
}

.quotation-marks {
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 0;
}

.card__header {
  display: flex;
  gap: 1.7rem;
  align-items: center;
  margin-bottom: 1.8rem;
  position: relative;
  z-index: 100;
}

.author-avatar {
  height: 2.8rem;
  border-radius: 50%;
}

.author__name {
  margin-bottom: 0.4rem;
}

.testimonial-short {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  position: relative;
  z-index: 100;
  line-height: 1.25;
}

.quote {
  line-height: 1.5;
}

.attribution {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--moderate-violet);
}

@media (min-width: 40rem) {
  .testimonials {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "violet violet"
      "whiteone blackish"
      "grayish blackish"
      "whitetwo whitetwo";
  }
}

@media (min-width: 50rem) {
  .testimonials {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "violet violet whitetwo"
      "whiteone grayish whitetwo"
      "blackish blackish blackish";
  }
}

@media (min-width: 65rem) {
  .testimonials {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "violet violet grayish whitetwo"
      "whiteone blackish blackish whitetwo";
  }
}
